USE [master]
GO
/****** Object:  Database [molde]    Script Date: 26/01/2018 17:46:48 ******/
CREATE DATABASE [molde]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'molde', FILENAME = N'G:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\Data\molde.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'molde_log', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\Data\molde_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [molde].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [molde]
GO
/****** Object:  User [aranda]    Script Date: 26/01/2018 17:46:48 ******/
CREATE USER [aranda] FOR LOGIN [aranda] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Anexos]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Anexos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[opcionMaestroAnexoId] [int] NOT NULL,
	[registroTablaId] [int] NULL,
	[usuarioId] [int] NOT NULL,
	[anexo] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Anexos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AplicacionesWeb]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AplicacionesWeb](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](1000) NOT NULL,
	[descripcion] [varchar](800) NOT NULL,
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_AplicacionesWeb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Barrios]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Barrios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[municipioId] [int] NULL,
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_Barrios_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConsecutivosTemporales]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConsecutivosTemporales](
	[id] [int] NOT NULL,
	[tabla] [varchar](100) NOT NULL,
	[consecutivo] [bigint] NOT NULL,
 CONSTRAINT [PK_ConsecutivosTemporales] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ControlAplicacion]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ControlAplicacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[version] [varchar](800) NOT NULL,
	[fechaInicio] [varchar](800) NOT NULL,
	[fechaFin] [varchar](800) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_ControlAplicacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[usuarioId] [int] NOT NULL,
	[codigoDane] [varchar](2) NOT NULL CONSTRAINT [DF_Departamentos_codigoDane]  DEFAULT (''),
 CONSTRAINT [PK_Departamentos_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DocumentosIdentidad]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DocumentosIdentidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sigla] [varchar](10) NOT NULL,
	[descripcion] [varchar](200) NOT NULL CONSTRAINT [DF_DocumentosIdentidad_descripcion]  DEFAULT (''),
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_DocumentosIdentidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EstadosCivil]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EstadosCivil](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sigla] [varchar](50) NULL,
	[descripcion] [varchar](100) NULL,
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_EstadosCivil_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Formularios]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Formularios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreFormulario] [varchar](100) NOT NULL,
	[urlFormulario] [varchar](500) NOT NULL,
	[nombreMostrar] [varchar](800) NOT NULL,
	[menuId] [int] NOT NULL,
	[esVisible] [bit] NOT NULL CONSTRAINT [DF_Formularios_esVisible]  DEFAULT ((0)),
	[usuarioId] [int] NOT NULL,
	[estados] [varchar](50) NOT NULL,
	[iconOpcion] [varchar](100) NOT NULL,
	[indexVisibilidad] [int] NOT NULL,
 CONSTRAINT [PK_Formularios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GruposSanguineo]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GruposSanguineo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sigla] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_GruposSanguineo_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MaestroAnexos]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MaestroAnexos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tabla] [varchar](1000) NOT NULL,
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_MaestroAnexos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreMenu] [varchar](100) NOT NULL,
	[aplicacionWebId] [int] NULL,
	[usuarioId] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[icon] [varchar](100) NOT NULL,
	[indexVisibilidad] [int] NOT NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Municipios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[departamentoId] [int] NOT NULL,
	[usuarioId] [int] NOT NULL,
	[codigoDane] [varchar](3) NOT NULL CONSTRAINT [DF_Municipios_codigoDane]  DEFAULT (''),
 CONSTRAINT [PK_Municipios_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OpcionesMaestroAnexos]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OpcionesMaestroAnexos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreOpcion] [varchar](1000) NOT NULL,
	[maestroAnexosId] [int] NOT NULL,
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_OpcionesMaestroAnexos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Operaciones]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Operaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreOperacion] [varchar](1000) NOT NULL,
	[usuarioId] [int] NOT NULL,
	[visualizaFormularioMenu] [bit] NOT NULL CONSTRAINT [DF_Operaciones_visualizaFormularioMenu]  DEFAULT ((1)),
 CONSTRAINT [PK_Operaciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OperacionesFormulario]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OperacionesFormulario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[formularioId] [int] NULL,
	[operacionId] [int] NULL,
	[descripcion] [varchar](8000) NULL,
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_OperacionesFormulario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Perfiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombrePerfil] [varchar](200) NOT NULL,
	[descripcion] [varchar](8000) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_Perfiles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PerfilesOperacionesFormulario]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilesOperacionesFormulario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[operacionFormularioId] [int] NULL,
	[perfilId] [int] NULL,
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_PerfilesOperacionesFormulario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personas]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Personas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numeroDocumento] [varchar](100) NULL,
	[documentoIdentidadId] [int] NOT NULL,
	[primerNombre] [varchar](50) NOT NULL,
	[segundoNombre] [varchar](50) NOT NULL,
	[primerApellido] [varchar](50) NOT NULL,
	[segundoApellido] [varchar](50) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[municipioId] [int] NOT NULL,
	[grupoSanguineoId] [int] NOT NULL,
	[sexoId] [int] NOT NULL,
	[fechaExpedicionCedula] [date] NOT NULL,
	[municipioExpedicionId] [int] NOT NULL,
	[barrioId] [int] NULL,
	[direcccion] [varchar](500) NOT NULL,
	[estatura] [numeric](18, 2) NOT NULL,
	[peso] [numeric](18, 2) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[estadoCivilId] [int] NOT NULL,
	[telefonoFijo] [bigint] NOT NULL CONSTRAINT [DF_Personas_telefonoFijo]  DEFAULT ((0)),
	[telefonoCelular] [bigint] NOT NULL CONSTRAINT [DF_Personas_telefonoCelular]  DEFAULT ((0)),
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sexos]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sexos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sigla] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[usuarioId] [int] NOT NULL,
 CONSTRAINT [PK_sexos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [varchar](100) NOT NULL,
	[clave] [varchar](100) NOT NULL,
	[idPersona] [int] NULL,
	[estado] [varchar](50) NULL CONSTRAINT [DF_Usuarios_estado]  DEFAULT ('Pendiente'),
	[usuarioId] [int] NULL,
	[perfilId] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsuariosOperacionesFormulario]    Script Date: 26/01/2018 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosOperacionesFormulario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NOT NULL,
	[operacionFormularioId] [int] NOT NULL,
	[usuarioIdApl] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosOperacionesFormulario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AplicacionesWeb] ON 

INSERT [dbo].[AplicacionesWeb] ([id], [nombre], [descripcion], [usuarioId]) VALUES (1, N'Molde', N'Nombre Base de Ejemplo , solo debe colocar el nombre de la aplicacion a desarrollar, recuerde cambiar el webmethod para que traiga las opciones de esta configuracion', 1)
SET IDENTITY_INSERT [dbo].[AplicacionesWeb] OFF
SET IDENTITY_INSERT [dbo].[Barrios] ON 

INSERT [dbo].[Barrios] ([id], [nombre], [municipioId], [usuarioId]) VALUES (1, N'Villas de la Candelaria', 150, 1)
SET IDENTITY_INSERT [dbo].[Barrios] OFF
SET IDENTITY_INSERT [dbo].[Departamentos] ON 

INSERT [dbo].[Departamentos] ([id], [nombre], [usuarioId], [codigoDane]) VALUES (1, N'ANTIOQUIA', 1, N'05')
INSERT [dbo].[Departamentos] ([id], [nombre], [usuarioId], [codigoDane]) VALUES (2, N'ATLANTICO', 1, N'08')
INSERT [dbo].[Departamentos] ([id], [nombre], [usuarioId], [codigoDane]) VALUES (3, N'BOGOTA', 1, N'11')
SET IDENTITY_INSERT [dbo].[Departamentos] OFF
SET IDENTITY_INSERT [dbo].[DocumentosIdentidad] ON 

INSERT [dbo].[DocumentosIdentidad] ([id], [sigla], [descripcion], [usuarioId]) VALUES (1, N'RC', N'Registro Civil', 1)
INSERT [dbo].[DocumentosIdentidad] ([id], [sigla], [descripcion], [usuarioId]) VALUES (2, N'TI', N'Tarjeta de identidad', 1)
INSERT [dbo].[DocumentosIdentidad] ([id], [sigla], [descripcion], [usuarioId]) VALUES (3, N'CC', N'Cédula de Ciudadanía', 1)
SET IDENTITY_INSERT [dbo].[DocumentosIdentidad] OFF
SET IDENTITY_INSERT [dbo].[EstadosCivil] ON 

INSERT [dbo].[EstadosCivil] ([id], [sigla], [descripcion], [usuarioId]) VALUES (1, N'S', N'Soltero/a', 1)
INSERT [dbo].[EstadosCivil] ([id], [sigla], [descripcion], [usuarioId]) VALUES (2, N'C', N'Casado/a', 1)
INSERT [dbo].[EstadosCivil] ([id], [sigla], [descripcion], [usuarioId]) VALUES (4, N'V', N'Viudo/a', 1)
SET IDENTITY_INSERT [dbo].[EstadosCivil] OFF
SET IDENTITY_INSERT [dbo].[Formularios] ON 

INSERT [dbo].[Formularios] ([id], [nombreFormulario], [urlFormulario], [nombreMostrar], [menuId], [esVisible], [usuarioId], [estados], [iconOpcion], [indexVisibilidad]) VALUES (1, N'AplicacionesWeb', N'frmListaAplicacionesWeb.aspx', N' Lista AplicacionesWeb', 1, 1, 1, N'Activo', N'fa fa-wpforms ', 1)
INSERT [dbo].[Formularios] ([id], [nombreFormulario], [urlFormulario], [nombreMostrar], [menuId], [esVisible], [usuarioId], [estados], [iconOpcion], [indexVisibilidad]) VALUES (2, N'Barrios', N'frmListaBarrios.aspx', N' Lista Barrios', 2, 1, 1, N'Activo', N'fa fa-street-view', 1)
INSERT [dbo].[Formularios] ([id], [nombreFormulario], [urlFormulario], [nombreMostrar], [menuId], [esVisible], [usuarioId], [estados], [iconOpcion], [indexVisibilidad]) VALUES (3, N'Departamentos', N'frmListaDepartamentos.aspx', N' Lista Departamentos', 2, 1, 1, N'Activo', N'fa fa-map', 2)
SET IDENTITY_INSERT [dbo].[Formularios] OFF
SET IDENTITY_INSERT [dbo].[GruposSanguineo] ON 

INSERT [dbo].[GruposSanguineo] ([id], [sigla], [descripcion], [usuarioId]) VALUES (1, N'O -', N'O negativo', 1)
INSERT [dbo].[GruposSanguineo] ([id], [sigla], [descripcion], [usuarioId]) VALUES (2, N'O +', N'O positivo', 1)
INSERT [dbo].[GruposSanguineo] ([id], [sigla], [descripcion], [usuarioId]) VALUES (3, N'A -', N'A negativo', 1)
SET IDENTITY_INSERT [dbo].[GruposSanguineo] OFF
SET IDENTITY_INSERT [dbo].[MaestroAnexos] ON 

INSERT [dbo].[MaestroAnexos] ([id], [tabla], [usuarioId]) VALUES (2, N'AplicacionesWeb', 1)
SET IDENTITY_INSERT [dbo].[MaestroAnexos] OFF
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([id], [nombreMenu], [aplicacionWebId], [usuarioId], [estado], [icon], [indexVisibilidad]) VALUES (1, N' Configuración ', 1, 1, N'Activo', N'fa fa-gear', 1)
INSERT [dbo].[Menus] ([id], [nombreMenu], [aplicacionWebId], [usuarioId], [estado], [icon], [indexVisibilidad]) VALUES (2, N' Diccionarios Datos ', 1, 1, N'Activo', N'fa fa-book', 1)
SET IDENTITY_INSERT [dbo].[Menus] OFF
SET IDENTITY_INSERT [dbo].[Municipios] ON 

INSERT [dbo].[Municipios] ([id], [nombre], [departamentoId], [usuarioId], [codigoDane]) VALUES (1, N'MEDELLIN', 1, 1, N'001')
INSERT [dbo].[Municipios] ([id], [nombre], [departamentoId], [usuarioId], [codigoDane]) VALUES (2, N'ABEJORRAL', 1, 1, N'002')
INSERT [dbo].[Municipios] ([id], [nombre], [departamentoId], [usuarioId], [codigoDane]) VALUES (3, N'ABRIAQUI', 1, 1, N'004')
GO
SET IDENTITY_INSERT [dbo].[Municipios] OFF
SET IDENTITY_INSERT [dbo].[Operaciones] ON 

INSERT [dbo].[Operaciones] ([id], [nombreOperacion], [usuarioId], [visualizaFormularioMenu]) VALUES (1, N'Nuevo', 1, 1)
INSERT [dbo].[Operaciones] ([id], [nombreOperacion], [usuarioId], [visualizaFormularioMenu]) VALUES (2, N'Editar', 1, 1)
INSERT [dbo].[Operaciones] ([id], [nombreOperacion], [usuarioId], [visualizaFormularioMenu]) VALUES (3, N'Activar', 1, 1)
SET IDENTITY_INSERT [dbo].[Operaciones] OFF
SET IDENTITY_INSERT [dbo].[OperacionesFormulario] ON 

INSERT [dbo].[OperacionesFormulario] ([id], [formularioId], [operacionId], [descripcion], [usuarioId]) VALUES (5, 1, 1, N'Nuevo AplicacionesWeb', 1)
INSERT [dbo].[OperacionesFormulario] ([id], [formularioId], [operacionId], [descripcion], [usuarioId]) VALUES (6, 1, 2, N'Editar AplicacionesWeb', 1)
INSERT [dbo].[OperacionesFormulario] ([id], [formularioId], [operacionId], [descripcion], [usuarioId]) VALUES (7, 1, 5, N'Eliminar AplicacionesWeb', 1)
SET IDENTITY_INSERT [dbo].[OperacionesFormulario] OFF
SET IDENTITY_INSERT [dbo].[Perfiles] ON 

INSERT [dbo].[Perfiles] ([id], [nombrePerfil], [descripcion], [estado], [usuarioId]) VALUES (1, N'PerfilInvitado', N'Perfil Para Cuando los usuarios externos se registren a la Aplicacion', N'Activo', 1)
INSERT [dbo].[Perfiles] ([id], [nombrePerfil], [descripcion], [estado], [usuarioId]) VALUES (2, N'SuperAdminMolde', N'Usuario Con todas las operaciones ultima actualizacion 2018/01/22', N'Activo', 1)
SET IDENTITY_INSERT [dbo].[Perfiles] OFF
SET IDENTITY_INSERT [dbo].[PerfilesOperacionesFormulario] ON 

INSERT [dbo].[PerfilesOperacionesFormulario] ([id], [operacionFormularioId], [perfilId], [usuarioId]) VALUES (77, 5, 2, 1)
INSERT [dbo].[PerfilesOperacionesFormulario] ([id], [operacionFormularioId], [perfilId], [usuarioId]) VALUES (78, 6, 2, 1)
INSERT [dbo].[PerfilesOperacionesFormulario] ([id], [operacionFormularioId], [perfilId], [usuarioId]) VALUES (79, 7, 2, 1)
SET IDENTITY_INSERT [dbo].[PerfilesOperacionesFormulario] OFF
SET IDENTITY_INSERT [dbo].[Personas] ON 

SET IDENTITY_INSERT [dbo].[Personas] OFF
SET IDENTITY_INSERT [dbo].[Sexos] ON 

INSERT [dbo].[Sexos] ([id], [sigla], [descripcion], [usuarioId]) VALUES (1, N'M', N'Masculino', 1)
INSERT [dbo].[Sexos] ([id], [sigla], [descripcion], [usuarioId]) VALUES (2, N'F', N'Femenino', 1)
SET IDENTITY_INSERT [dbo].[Sexos] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [nombreUsuario], [clave], [idPersona], [estado], [usuarioId], [perfilId]) VALUES (1, N'MoldeAdmin', N'YQBzAGQAZgA=', NULL, N'Activo', 1, 2)
INSERT [dbo].[Usuarios] ([id], [nombreUsuario], [clave], [idPersona], [estado], [usuarioId], [perfilId]) VALUES (2, N'amartinez@coosalud.com', N'YQBzAGQAZgA=', 1, N'Activo', 1, 1)
INSERT [dbo].[Usuarios] ([id], [nombreUsuario], [clave], [idPersona], [estado], [usuarioId], [perfilId]) VALUES (3, N'danirosales152@gmail.com', N'cQB3AGUAcgA=', NULL, N'Activo', 1, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
SET IDENTITY_INSERT [dbo].[UsuariosOperacionesFormulario] ON 

INSERT [dbo].[UsuariosOperacionesFormulario] ([id], [usuarioId], [operacionFormularioId], [usuarioIdApl]) VALUES (166, 3, 62, 1)
INSERT [dbo].[UsuariosOperacionesFormulario] ([id], [usuarioId], [operacionFormularioId], [usuarioIdApl]) VALUES (167, 3, 63, 1)
INSERT [dbo].[UsuariosOperacionesFormulario] ([id], [usuarioId], [operacionFormularioId], [usuarioIdApl]) VALUES (168, 3, 65, 1)
GO
SET IDENTITY_INSERT [dbo].[UsuariosOperacionesFormulario] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_AplicacionesWeb_Nombre]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[AplicacionesWeb] ADD  CONSTRAINT [U_dbo_AplicacionesWeb_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_Barrios_Municipios_NombreMunicipioId]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[Barrios] ADD  CONSTRAINT [U_Barrios_Municipios_NombreMunicipioId] UNIQUE NONCLUSTERED 
(
	[nombre] ASC,
	[municipioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_Departamento_CodigoDane]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[Departamentos] ADD  CONSTRAINT [U_dbo_Departamento_CodigoDane] UNIQUE NONCLUSTERED 
(
	[codigoDane] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_Departamento_Nombre]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[Departamentos] ADD  CONSTRAINT [U_dbo_Departamento_Nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_DocumentosIdentidad_Sigla]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[DocumentosIdentidad] ADD  CONSTRAINT [U_dbo_DocumentosIdentidad_Sigla] UNIQUE NONCLUSTERED 
(
	[sigla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_EstadosCivil_Sigla]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[EstadosCivil] ADD  CONSTRAINT [U_dbo_EstadosCivil_Sigla] UNIQUE NONCLUSTERED 
(
	[sigla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_GruposSanguineo_Sigla]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[GruposSanguineo] ADD  CONSTRAINT [U_dbo_GruposSanguineo_Sigla] UNIQUE NONCLUSTERED 
(
	[sigla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_Menus_NombreMenuAplicacionWeb]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[Menus] ADD  CONSTRAINT [U_dbo_Menus_NombreMenuAplicacionWeb] UNIQUE NONCLUSTERED 
(
	[nombreMenu] ASC,
	[aplicacionWebId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_Municipios_CodigoDane]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[Municipios] ADD  CONSTRAINT [U_dbo_Municipios_CodigoDane] UNIQUE NONCLUSTERED 
(
	[codigoDane] ASC,
	[departamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_Operaciones_NombreOperacion]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[Operaciones] ADD  CONSTRAINT [U_dbo_Operaciones_NombreOperacion] UNIQUE NONCLUSTERED 
(
	[nombreOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [U_dbo_OperacionesFormulario_FormularioIdOperacionId]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[OperacionesFormulario] ADD  CONSTRAINT [U_dbo_OperacionesFormulario_FormularioIdOperacionId] UNIQUE NONCLUSTERED 
(
	[formularioId] ASC,
	[operacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_Perfiles_NombrePerfil]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[Perfiles] ADD  CONSTRAINT [U_dbo_Perfiles_NombrePerfil] UNIQUE NONCLUSTERED 
(
	[nombrePerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [U_dbo_PerfilesOperacionesFormulario_OperacionFormularioIdPerfilId]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[PerfilesOperacionesFormulario] ADD  CONSTRAINT [U_dbo_PerfilesOperacionesFormulario_OperacionFormularioIdPerfilId] UNIQUE NONCLUSTERED 
(
	[operacionFormularioId] ASC,
	[perfilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_Personas_NumeroDocumento]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[Personas] ADD  CONSTRAINT [U_dbo_Personas_NumeroDocumento] UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_sexos_Sigla]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[Sexos] ADD  CONSTRAINT [U_dbo_sexos_Sigla] UNIQUE NONCLUSTERED 
(
	[sigla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_dbo_Usuarios_NombreUsuario]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [U_dbo_Usuarios_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[nombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
/****** Object:  Index [U_dbo_UsuariosOperacionesFormulario_UsuarioIdOperacionFormulario]    Script Date: 26/01/2018 17:46:49 ******/
ALTER TABLE [dbo].[UsuariosOperacionesFormulario] ADD  CONSTRAINT [U_dbo_UsuariosOperacionesFormulario_UsuarioIdOperacionFormulario] UNIQUE NONCLUSTERED 
(
	[usuarioId] ASC,
	[operacionFormularioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Anexos]  WITH CHECK ADD  CONSTRAINT [FK_Anexos_OpcionesMaestroAnexos] FOREIGN KEY([opcionMaestroAnexoId])
REFERENCES [dbo].[OpcionesMaestroAnexos] ([id])
GO
ALTER TABLE [dbo].[Anexos] CHECK CONSTRAINT [FK_Anexos_OpcionesMaestroAnexos]
GO
ALTER TABLE [dbo].[Barrios]  WITH CHECK ADD  CONSTRAINT [FK_Barrios_Municipios] FOREIGN KEY([municipioId])
REFERENCES [dbo].[Municipios] ([id])
GO
ALTER TABLE [dbo].[Barrios] CHECK CONSTRAINT [FK_Barrios_Municipios]
GO
ALTER TABLE [dbo].[Formularios]  WITH CHECK ADD  CONSTRAINT [FK_Formularios_Menus] FOREIGN KEY([menuId])
REFERENCES [dbo].[Menus] ([id])
GO
ALTER TABLE [dbo].[Formularios] CHECK CONSTRAINT [FK_Formularios_Menus]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menus_AplicacionesWeb] FOREIGN KEY([aplicacionWebId])
REFERENCES [dbo].[AplicacionesWeb] ([id])
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_Menus_AplicacionesWeb]
GO
ALTER TABLE [dbo].[Municipios]  WITH CHECK ADD  CONSTRAINT [FK_Municipios_Departamentos2] FOREIGN KEY([departamentoId])
REFERENCES [dbo].[Departamentos] ([id])
GO
ALTER TABLE [dbo].[Municipios] CHECK CONSTRAINT [FK_Municipios_Departamentos2]
GO
ALTER TABLE [dbo].[OpcionesMaestroAnexos]  WITH CHECK ADD  CONSTRAINT [FK_OpcionesMaestroAnexos_MaestroAnexos] FOREIGN KEY([maestroAnexosId])
REFERENCES [dbo].[MaestroAnexos] ([id])
GO
ALTER TABLE [dbo].[OpcionesMaestroAnexos] CHECK CONSTRAINT [FK_OpcionesMaestroAnexos_MaestroAnexos]
GO
ALTER TABLE [dbo].[OperacionesFormulario]  WITH CHECK ADD  CONSTRAINT [FK_OperacionesFormulario_Formularios] FOREIGN KEY([formularioId])
REFERENCES [dbo].[Formularios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OperacionesFormulario] CHECK CONSTRAINT [FK_OperacionesFormulario_Formularios]
GO
ALTER TABLE [dbo].[OperacionesFormulario]  WITH CHECK ADD  CONSTRAINT [FK_OperacionesFormulario_Operaciones] FOREIGN KEY([operacionId])
REFERENCES [dbo].[Operaciones] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OperacionesFormulario] CHECK CONSTRAINT [FK_OperacionesFormulario_Operaciones]
GO
ALTER TABLE [dbo].[PerfilesOperacionesFormulario]  WITH CHECK ADD  CONSTRAINT [FK_PerfilesOperacionesFormulario_OperacionesFormulario] FOREIGN KEY([operacionFormularioId])
REFERENCES [dbo].[OperacionesFormulario] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerfilesOperacionesFormulario] CHECK CONSTRAINT [FK_PerfilesOperacionesFormulario_OperacionesFormulario]
GO
ALTER TABLE [dbo].[PerfilesOperacionesFormulario]  WITH CHECK ADD  CONSTRAINT [FK_PerfilesOperacionesFormulario_Perfiles] FOREIGN KEY([perfilId])
REFERENCES [dbo].[Perfiles] ([id])
GO
ALTER TABLE [dbo].[PerfilesOperacionesFormulario] CHECK CONSTRAINT [FK_PerfilesOperacionesFormulario_Perfiles]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_dbo_Personas_Sexo] FOREIGN KEY([sexoId])
REFERENCES [dbo].[Sexos] ([id])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_dbo_Personas_Sexo]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_Barrios1] FOREIGN KEY([barrioId])
REFERENCES [dbo].[Barrios] ([id])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_Barrios1]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_DocumentosIdentidad] FOREIGN KEY([documentoIdentidadId])
REFERENCES [dbo].[DocumentosIdentidad] ([id])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_DocumentosIdentidad]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_EstadosCivil1] FOREIGN KEY([estadoCivilId])
REFERENCES [dbo].[EstadosCivil] ([id])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_EstadosCivil1]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_GruposSanguineo1] FOREIGN KEY([grupoSanguineoId])
REFERENCES [dbo].[GruposSanguineo] ([id])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_GruposSanguineo1]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_Municipios2] FOREIGN KEY([municipioId])
REFERENCES [dbo].[Municipios] ([id])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_Municipios2]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_Municipios3] FOREIGN KEY([municipioExpedicionId])
REFERENCES [dbo].[Municipios] ([id])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_Municipios3]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfiles] FOREIGN KEY([perfilId])
REFERENCES [dbo].[Perfiles] ([id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfiles]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Personas] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Personas] ([id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Personas]
GO
ALTER TABLE [dbo].[UsuariosOperacionesFormulario]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosOperacionesFormulario_OperacionesFormulario] FOREIGN KEY([operacionFormularioId])
REFERENCES [dbo].[OperacionesFormulario] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuariosOperacionesFormulario] CHECK CONSTRAINT [FK_UsuariosOperacionesFormulario_OperacionesFormulario]
GO
ALTER TABLE [dbo].[UsuariosOperacionesFormulario]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosOperacionesFormulario_Usuarios] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[UsuariosOperacionesFormulario] CHECK CONSTRAINT [FK_UsuariosOperacionesFormulario_Usuarios]
GO
/****** Object:  Trigger [dbo].[TR_DELETE_AplicacionesWeb]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_AplicacionesWeb]
ON [dbo].[AplicacionesWeb] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.AplicacionesWeb
        (
        id,usuarioId,nombre,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,nombre,descripcion,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_AplicacionesWeb]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_AplicacionesWeb]
ON [dbo].[AplicacionesWeb] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.AplicacionesWeb
        (
        id,usuarioId,nombre,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,nombre,descripcion,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_AplicacionesWeb]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_AplicacionesWeb]
ON [dbo].[AplicacionesWeb] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.AplicacionesWeb
        (
        id,usuarioId,nombre,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,nombre,descripcion,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_Barrios]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_Barrios]
ON [dbo].[Barrios] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.Barrios
        (
        id,municipioId,usuarioId,nombre,userNameBd,fechaHora,operacion
        )
        select
                id,municipioId,usuarioId,nombre,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_Barrios]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_Barrios]
ON [dbo].[Barrios] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Barrios
        (
        id,municipioId,usuarioId,nombre,userNameBd,fechaHora,operacion
        )
        select
                id,municipioId,usuarioId,nombre,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_Barrios]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_Barrios]
ON [dbo].[Barrios] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Barrios
        (
        id,municipioId,usuarioId,nombre,userNameBd,fechaHora,operacion
        )
        select
                id,municipioId,usuarioId,nombre,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_Departamentos]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_Departamentos]
ON [dbo].[Departamentos] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.Departamentos
        (
        id,usuarioId,nombre,codigoDane,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,nombre,codigoDane,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_Departamentos]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_Departamentos]
ON [dbo].[Departamentos] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Departamentos
        (
        id,usuarioId,nombre,codigoDane,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,nombre,codigoDane,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_Departamentos]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_Departamentos]
ON [dbo].[Departamentos] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Departamentos
        (
        id,usuarioId,nombre,codigoDane,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,nombre,codigoDane,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_DocumentosIdentidad]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_DocumentosIdentidad]
ON [dbo].[DocumentosIdentidad] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.DocumentosIdentidad
        (
        id,usuarioId,sigla,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,sigla,descripcion,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_DocumentosIdentidad]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_DocumentosIdentidad]
ON [dbo].[DocumentosIdentidad] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.DocumentosIdentidad
        (
        id,usuarioId,sigla,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,sigla,descripcion,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_DocumentosIdentidad]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_DocumentosIdentidad]
ON [dbo].[DocumentosIdentidad] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.DocumentosIdentidad
        (
        id,usuarioId,sigla,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,sigla,descripcion,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_EstadosCivil]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_EstadosCivil]
ON [dbo].[EstadosCivil] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.EstadosCivil
        (
        id,usuarioId,sigla,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,sigla,descripcion,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_EstadosCivil]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_EstadosCivil]
ON [dbo].[EstadosCivil] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.EstadosCivil
        (
        id,usuarioId,sigla,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,sigla,descripcion,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_EstadosCivil]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_EstadosCivil]
ON [dbo].[EstadosCivil] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.EstadosCivil
        (
        id,usuarioId,sigla,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,sigla,descripcion,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_Formularios]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_Formularios]
ON [dbo].[Formularios] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.Formularios
        (
        id,menuId,usuarioId,indexVisibilidad,esVisible,nombreFormulario,urlFormulario,nombreMostrar,estados,iconOpcion,userNameBd,fechaHora,operacion
        )
        select
                id,menuId,usuarioId,indexVisibilidad,esVisible,nombreFormulario,urlFormulario,nombreMostrar,estados,iconOpcion,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_Formularios]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_Formularios]
ON [dbo].[Formularios] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Formularios
        (
        id,menuId,usuarioId,indexVisibilidad,esVisible,nombreFormulario,urlFormulario,nombreMostrar,estados,iconOpcion,userNameBd,fechaHora,operacion
        )
        select
                id,menuId,usuarioId,indexVisibilidad,esVisible,nombreFormulario,urlFormulario,nombreMostrar,estados,iconOpcion,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_Formularios]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_Formularios]
ON [dbo].[Formularios] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Formularios
        (
        id,menuId,usuarioId,indexVisibilidad,esVisible,nombreFormulario,urlFormulario,nombreMostrar,estados,iconOpcion,userNameBd,fechaHora,operacion
        )
        select
                id,menuId,usuarioId,indexVisibilidad,esVisible,nombreFormulario,urlFormulario,nombreMostrar,estados,iconOpcion,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_GruposSanguineo]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_GruposSanguineo]
ON [dbo].[GruposSanguineo] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.GruposSanguineo
        (
        id,usuarioId,sigla,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,sigla,descripcion,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_GruposSanguineo]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_GruposSanguineo]
ON [dbo].[GruposSanguineo] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.GruposSanguineo
        (
        id,usuarioId,sigla,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,sigla,descripcion,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_GruposSanguineo]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_GruposSanguineo]
ON [dbo].[GruposSanguineo] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.GruposSanguineo
        (
        id,usuarioId,sigla,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,sigla,descripcion,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_MaestroAnexos]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_MaestroAnexos]
ON [dbo].[MaestroAnexos] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.MaestroAnexos
        (
        id,usuarioId,tabla,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,tabla,suser_name(),getdate(),'Deleting'
        from deleted
    end
end

GO
/****** Object:  Trigger [dbo].[TR_INSERT_MaestroAnexos]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_MaestroAnexos]
ON [dbo].[MaestroAnexos] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.MaestroAnexos
        (
        id,usuarioId,tabla,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,tabla,suser_name(),getdate(),'insert'
        from inserted
    end
end

GO
/****** Object:  Trigger [dbo].[TR_UPDATE_MaestroAnexos]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_MaestroAnexos]
ON [dbo].[MaestroAnexos] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.MaestroAnexos
        (
        id,usuarioId,tabla,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,tabla,suser_name(),getdate(),'Editing'
        from inserted
    end
end

GO
/****** Object:  Trigger [dbo].[TR_DELETE_Menus]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_Menus]
ON [dbo].[Menus] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.Menus
        (
        id,aplicacionWebId,usuarioId,indexVisibilidad,nombreMenu,estado,icon,userNameBd,fechaHora,operacion
        )
        select
                id,aplicacionWebId,usuarioId,indexVisibilidad,nombreMenu,estado,icon,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_Menus]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_Menus]
ON [dbo].[Menus] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Menus
        (
        id,aplicacionWebId,usuarioId,indexVisibilidad,nombreMenu,estado,icon,userNameBd,fechaHora,operacion
        )
        select
                id,aplicacionWebId,usuarioId,indexVisibilidad,nombreMenu,estado,icon,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_Menus]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_Menus]
ON [dbo].[Menus] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Menus
        (
        id,aplicacionWebId,usuarioId,indexVisibilidad,nombreMenu,estado,icon,userNameBd,fechaHora,operacion
        )
        select
                id,aplicacionWebId,usuarioId,indexVisibilidad,nombreMenu,estado,icon,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_Municipios]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_Municipios]
ON [dbo].[Municipios] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.Municipios
        (
        id,departamentoId,usuarioId,nombre,codigoDane,userNameBd,fechaHora,operacion
        )
        select
                id,departamentoId,usuarioId,nombre,codigoDane,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_Municipios]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_Municipios]
ON [dbo].[Municipios] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Municipios
        (
        id,departamentoId,usuarioId,nombre,codigoDane,userNameBd,fechaHora,operacion
        )
        select
                id,departamentoId,usuarioId,nombre,codigoDane,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_Municipios]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_Municipios]
ON [dbo].[Municipios] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Municipios
        (
        id,departamentoId,usuarioId,nombre,codigoDane,userNameBd,fechaHora,operacion
        )
        select
                id,departamentoId,usuarioId,nombre,codigoDane,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_Operaciones]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_Operaciones]
ON [dbo].[Operaciones] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.Operaciones
        (
        id,usuarioId,nombreOperacion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,nombreOperacion,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_Operaciones]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_Operaciones]
ON [dbo].[Operaciones] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Operaciones
        (
        id,usuarioId,nombreOperacion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,nombreOperacion,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_Operaciones]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_Operaciones]
ON [dbo].[Operaciones] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Operaciones
        (
        id,usuarioId,nombreOperacion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,nombreOperacion,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_OperacionesFormulario]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_OperacionesFormulario]
ON [dbo].[OperacionesFormulario] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.OperacionesFormulario
        (
        id,formularioId,operacionId,usuarioId,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,formularioId,operacionId,usuarioId,descripcion,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_OperacionesFormulario]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_OperacionesFormulario]
ON [dbo].[OperacionesFormulario] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.OperacionesFormulario
        (
        id,formularioId,operacionId,usuarioId,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,formularioId,operacionId,usuarioId,descripcion,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_OperacionesFormulario]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_OperacionesFormulario]
ON [dbo].[OperacionesFormulario] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.OperacionesFormulario
        (
        id,formularioId,operacionId,usuarioId,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,formularioId,operacionId,usuarioId,descripcion,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_Perfiles]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_Perfiles]
ON [dbo].[Perfiles] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.Perfiles
        (
        id,usuarioId,nombrePerfil,descripcion,estado,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,nombrePerfil,descripcion,estado,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_Perfiles]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_Perfiles]
ON [dbo].[Perfiles] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Perfiles
        (
        id,usuarioId,nombrePerfil,descripcion,estado,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,nombrePerfil,descripcion,estado,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_Perfiles]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_Perfiles]
ON [dbo].[Perfiles] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Perfiles
        (
        id,usuarioId,nombrePerfil,descripcion,estado,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,nombrePerfil,descripcion,estado,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_PerfilesOperacionesFormulario]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_PerfilesOperacionesFormulario]
ON [dbo].[PerfilesOperacionesFormulario] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.PerfilesOperacionesFormulario
        (
        id,operacionFormularioId,perfilId,usuarioId,userNameBd,fechaHora,operacion
        )
        select
                id,operacionFormularioId,perfilId,usuarioId,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_PerfilesOperacionesFormulario]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_PerfilesOperacionesFormulario]
ON [dbo].[PerfilesOperacionesFormulario] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.PerfilesOperacionesFormulario
        (
        id,operacionFormularioId,perfilId,usuarioId,userNameBd,fechaHora,operacion
        )
        select
                id,operacionFormularioId,perfilId,usuarioId,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_PerfilesOperacionesFormulario]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_PerfilesOperacionesFormulario]
ON [dbo].[PerfilesOperacionesFormulario] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.PerfilesOperacionesFormulario
        (
        id,operacionFormularioId,perfilId,usuarioId,userNameBd,fechaHora,operacion
        )
        select
                id,operacionFormularioId,perfilId,usuarioId,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_Personas]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_Personas]
ON [dbo].[Personas] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.Personas
        (
        fechaNacimiento,fechaExpedicionCedula,id,documentoIdentidadId,municipioId,grupoSanguineoId,sexoId,municipioExpedicionId,barrioId,estadoCivilId,usuarioId,estatura,peso,telefonoFijo,telefonoCelular,numeroDocumento,primerNombre,segundoNombre,primerApellido,segundoApellido,direcccion,correo,userNameBd,fechaHora,operacion
        )
        select
                fechaNacimiento,fechaExpedicionCedula,id,documentoIdentidadId,municipioId,grupoSanguineoId,sexoId,municipioExpedicionId,barrioId,estadoCivilId,usuarioId,estatura,peso,telefonoFijo,telefonoCelular,numeroDocumento,primerNombre,segundoNombre,primerApellido,segundoApellido,direcccion,correo,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_Personas]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_Personas]
ON [dbo].[Personas] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Personas
        (
        fechaNacimiento,fechaExpedicionCedula,id,documentoIdentidadId,municipioId,grupoSanguineoId,sexoId,municipioExpedicionId,barrioId,estadoCivilId,usuarioId,estatura,peso,telefonoFijo,telefonoCelular,numeroDocumento,primerNombre,segundoNombre,primerApellido,segundoApellido,direcccion,correo,userNameBd,fechaHora,operacion
        )
        select
                fechaNacimiento,fechaExpedicionCedula,id,documentoIdentidadId,municipioId,grupoSanguineoId,sexoId,municipioExpedicionId,barrioId,estadoCivilId,usuarioId,estatura,peso,telefonoFijo,telefonoCelular,numeroDocumento,primerNombre,segundoNombre,primerApellido,segundoApellido,direcccion,correo,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_Personas]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_Personas]
ON [dbo].[Personas] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Personas
        (
        fechaNacimiento,fechaExpedicionCedula,id,documentoIdentidadId,municipioId,grupoSanguineoId,sexoId,municipioExpedicionId,barrioId,estadoCivilId,usuarioId,estatura,peso,telefonoFijo,telefonoCelular,numeroDocumento,primerNombre,segundoNombre,primerApellido,segundoApellido,direcccion,correo,userNameBd,fechaHora,operacion
        )
        select
                fechaNacimiento,fechaExpedicionCedula,id,documentoIdentidadId,municipioId,grupoSanguineoId,sexoId,municipioExpedicionId,barrioId,estadoCivilId,usuarioId,estatura,peso,telefonoFijo,telefonoCelular,numeroDocumento,primerNombre,segundoNombre,primerApellido,segundoApellido,direcccion,correo,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_Sexos]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_Sexos]
ON [dbo].[Sexos] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.Sexos
        (
        id,usuarioId,sigla,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,sigla,descripcion,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_Sexos]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_Sexos]
ON [dbo].[Sexos] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Sexos
        (
        id,usuarioId,sigla,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,sigla,descripcion,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_Sexos]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_Sexos]
ON [dbo].[Sexos] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Sexos
        (
        id,usuarioId,sigla,descripcion,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,sigla,descripcion,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_Usuarios]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_Usuarios]
ON [dbo].[Usuarios] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.Usuarios
        (
        id,idPersona,usuarioId,perfilId,nombreUsuario,clave,estado,userNameBd,fechaHora,operacion
        )
        select
                id,idPersona,usuarioId,perfilId,nombreUsuario,clave,estado,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_Usuarios]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_Usuarios]
ON [dbo].[Usuarios] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Usuarios
        (
        id,idPersona,usuarioId,perfilId,nombreUsuario,clave,estado,userNameBd,fechaHora,operacion
        )
        select
                id,idPersona,usuarioId,perfilId,nombreUsuario,clave,estado,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_Usuarios]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_Usuarios]
ON [dbo].[Usuarios] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.Usuarios
        (
        id,idPersona,usuarioId,perfilId,nombreUsuario,clave,estado,userNameBd,fechaHora,operacion
        )
        select
                id,idPersona,usuarioId,perfilId,nombreUsuario,clave,estado,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_DELETE_UsuariosOperacionesFormulario]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_DELETE_UsuariosOperacionesFormulario]
ON [dbo].[UsuariosOperacionesFormulario] AFTER DELETE
AS
BEGIN
    if exists (SELECT 1 from deleted) BEGIN
        insert into MoldeTrasabilidad.dbo.UsuariosOperacionesFormulario
        (
        id,usuarioId,operacionFormularioId,usuarioIdApl,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,operacionFormularioId,usuarioIdApl,suser_name(),getdate(),'Deleting'
        from deleted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_INSERT_UsuariosOperacionesFormulario]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_INSERT_UsuariosOperacionesFormulario]
ON [dbo].[UsuariosOperacionesFormulario] AFTER INSERT
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.UsuariosOperacionesFormulario
        (
        id,usuarioId,operacionFormularioId,usuarioIdApl,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,operacionFormularioId,usuarioIdApl,suser_name(),getdate(),'insert'
        from inserted
    end
end
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_UsuariosOperacionesFormulario]    Script Date: 26/01/2018 17:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_UPDATE_UsuariosOperacionesFormulario]
ON [dbo].[UsuariosOperacionesFormulario] AFTER UPDATE
AS
BEGIN
    if exists (SELECT 1 from inserted) BEGIN
        insert into MoldeTrasabilidad.dbo.UsuariosOperacionesFormulario
        (
        id,usuarioId,operacionFormularioId,usuarioIdApl,userNameBd,fechaHora,operacion
        )
        select
                id,usuarioId,operacionFormularioId,usuarioIdApl,suser_name(),getdate(),'Editing'
        from inserted
    end
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo para indicar si en el menu se debe visualizar o no' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Formularios', @level2type=N'COLUMN',@level2name=N'esVisible'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo para visualizar un icono cuando despliegue en el menu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Formularios', @level2type=N'COLUMN',@level2name=N'iconOpcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'El nombre de Usuario debe ser el correo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usuarios', @level2type=N'COLUMN',@level2name=N'nombreUsuario'
GO
USE [master]
GO
